<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zeitgometer UI</title>
    <link rel="stylesheet" href="/vender/Materialize/bin/materialize.css" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div id="content" ></div>

    <script src="/vender/jquery/dist/jquery.min.js"></script>
    <script src="/vender/react/react.js"></script>
    <script src="/vender/react/react-dom.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/vender/Materialize/bin/materialize.js"></script>
    <script src="scripts/materialize.js"></script>
    <!-- build:js -->
    <script src="scripts/build.js"></script>
    <!-- endbuild -->

  </body>
</html>
